.weather-card {
    width: 200px;
    display: inline-block;
    min-height: 200px;
    margin: 2.5px;
    background: rgba(80, 80, 150, 0.7);
    vertical-align: top;
}

.tag {
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}